.organization
  .organization__header.d-flex.align-items-center
    %h2.organization__header__title="組織一覧"
    .organization__header__btns
      = link_to "新規作成", new_organization_path, class: "btn btn-primary btn-sm"
  %table.organization__table.table.table-bordered
    %thead.thead-light
      %tr
        %th="組織名"
        %th="オーナー"
        %th="所属ユーザー一覧"
        %th="操作"
    %tbody
      - @organizations.each do |organization|
        %tr
          %td=organization.name
          %td="#{organization.owner.name} ( #{organization.owner.email} )"
          %td
            - organization.users.each do |user|
              .organization__table__users="#{user.name} ( #{user.email} )"
          %td.organization__table__operations
            = link_to '編集', edit_organization_path(organization), class: "btn btn-primary"
            = button_tag '削除', class: "btn btn-danger", "data-toggle": "modal", "data-target": "#organization_delete_#{organization.id}"

        .modal.fade{id: "organization_delete_#{organization.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "organization_delete_title_#{organization.id}", "aria-hidden": "true"}
          .modal-dialog.modal-dialog-centered{role: "document"}
            .modal-content
              .modal-header
                %h5{id: "organization_delete_title_#{organization.id}"}="#{organization.name} を削除してもよろしいですか？"
                = button_tag nil, class: "close", "aria-label": "Close", "data-dismiss": "modal", type: "button" do
                  %span{"aria-hidden" => "true"} ×
              .modal-body
                .organizations__owner.form-group
                  %label="オーナー："
                  %label.form-control="#{organization.owner.name} ( #{organization.owner.email} )"
                .organizations__user.form-group
                  %label="ユーザー："
                  %label.form-control
                    - organization.users.each do |user|
                      ="#{user.name} ( #{user.email} )"
              .modal-footer
                = link_to '削除', organization_path(organization), class: "btn btn-danger", method: :delete
                = button_tag "閉じる", class: "btn btn-secondary", "data-dismiss": "modal", type: "button"
