- @aws_accounts.each do |aws_account|
  = form_with model: aws_account, class: "main__accounts card", local: true, method: :post do |f|
    = f.hidden_field :account_id
    = f.hidden_field :external_id
    = f.hidden_field :role_name
    .main__accounts__header.card-header.d-flex.justify-content-between
      = link_to "#aws_account_#{aws_account.id}", class: "main__accounts__header__collapse btn-secondary btn-sm", "data-toggle": "collapse" do
        = icon "fas", "align-justify"
      .main__accounts__header__account.d-flex.justify-content-between
        .main__accounts__header__account__name
          %span.main__accounts__header__account__name--label="アカウント名: "
          %span.main__accounts__header__account__name--value=aws_account.name
        .main__accounts__header__account__id
          %span.main__accounts__header__account__id--label="アカウントID: "
          %span.main__accounts__header__account__id--value=aws_account.account_id
      = link_to "コンソールログイン", @console_urls[aws_account.id], class: "btn btn-info btn-sm", target: '_blank'

    .main__accounts__body.card-body.collapse{id: "aws_account_#{aws_account.id}"}
      .main__content.row.card-columns
        - @ec2[aws_account.id].instances.each do |instance|
          .col-sm-6
            .main__content__item.card
              .main__content__item__header.card-header.d-flex.justify-content-between
                %span.main__content__item__header__type="EC2"
                %span.main__content__item__header__instance-id=instance.id
                %span.main__content__item__header__ip=instance.public_ip_address
                - if instance.data.state.name.match?('running')
                  %span.main__content__item__header__state.main__content__item__header__state--up
                - else
                  %span.main__content__item__header__state.main__content__item__header__state--down
              .main__content__item__body.card-body
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="インスタンスタイプ"
                  %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=instance.data.instance_type
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="アベイラビリティーゾーン"
                  %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=instance.data.placement.availability_zone
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="セキュリティグループ"
                  - instance.data.security_groups.each do |group|
                    %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=group.group_name
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="AMI"
                  %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=instance.data.image_id
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="ロール"
                  %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=instance.data.iam_instance_profile.arn[/.*\/(.*)/, 1] if instance.data.key?('iam_instance_profile')
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="VPC"
                  %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=instance.data.vpc_id
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="サブネット"
                  %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate=instance.data.subnet_id
                .form-group.row
                  %label.main__content__item__body__key.col-sm.col-form-label.text-right="EBS"
                  - instance.data.block_device_mappings.each do |dev|
                    %span.main__content__item__body__value.col-sm-7.form-control.text-nowrap.text-truncate="#{dev.device_name} (#{dev.ebs.volume_id})"
              .main__content__item__footer.card-footer
                .main__content__item__footer__btn-group
                  - if instance.data.state.name.match?('running')
                    = link_to "起動", api_v1_ec2_start_path, class: "ec2-action-btn ec2-start-btn btn btn-secondary disabled", tabindex: "-1", role: "button", "aria-disabled": "true", data: {instance_id: instance.id}
                    = link_to "停止", api_v1_ec2_stop_path, class: "ec2-action-btn ec2-stop-btn btn btn-warning text-white active", data: {instance_id: instance.id}
                    = link_to "再起動", api_v1_ec2_restart_path, class: "ec2-action-btn ec2-restart-btn btn btn-primary active", data: {instance_id: instance.id}
                  - else
                    = link_to "起動", api_v1_ec2_start_path, class: "ec2-action-btn ec2-start-btn btn btn-success active", data: {instance_id: instance.id}
                    = link_to "停止", api_v1_ec2_stop_path, class: "ec2-action-btn ec2-action-btn ec2-stop-btn btn btn-secondary text-white disabled", tabindex: "-1", role: "button", "aria-disabled": "true", data: {instance_id: instance.id}
                    = link_to "再起動", api_v1_ec2_restart_path, class: "ec2-action-btn ec2-restart-btn btn btn-primary active", data: {instance_id: instance.id}
